# Each line is a file pattern followed by one or more owners.
#
# These owners are the default owners for everything in the repository.
# Unless a later match takes precedence, @iancooper, @holytshirt, @DevJonny
# or @preardon will be requested for review when someone opens a pull request.

*       @iancooper @holytshirt @DevJonny @preardon
